body {
    background: #35363A;
    margin: 0;
    min-width: 960px;
    background-color: rgb(53, 54, 58);
}

header {
    padding: 8px;
}

.header-contents {
    text-align: right; 
    padding-right: 4px;
}

.header-contents .header-contents__icon {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 8px;
}

.contents {
    text-align: center;
}

.top-img {
    margin-bottom: 38px;
    display: inline-block;
}

.search-box {
    margin-bottom: 16px;
}

.input-wrapper {
    height: 100%;
    position: relative;
}

.input-wrapper .search-form {
    position: relative;	
    margin-bottom: 20px;
}

.input-wrapper .search-input {
    height:45px;
    width: 40%;
    padding: 0 10px; 
    border-radius: 70px;
    outline: 0;
    border: none;
    padding-inline-start: 50px;
    font-size: inherit;
}

.input-wrapper .search-btn {
    height: 45px;
    position: absolute; 
    background: none;
    color:#666;
    border: none;
    font-size: 15px;/*アイコンサイズ*/
    padding-left: 20px;
}

.input-wrapper .search-btn:hover {
    color:#7fbfff;
}

/* 検索ボタンのデザイン */
.input-wrapper .btn-submit {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #FFD700;
    border: solid 3px #FFD700;
    border-radius: 7px;
    background: #35363A;
    display: block;
    width: 30%;
    margin: 20px auto;
    text-decoration: none;
    font-weight: bold;
}

.input-wrapper .btn-submit:hover {
    background:#f3eab8;
    color:#fff;
}

/* オススメリンク */
.container {
    column-count: 5;
    width: 40%;
    margin: 0 auto;
    padding: 2px;
    margin-bottom: 10px;
    overflow: hidden;
}

.tile {
    display: block;
    text-decoration: none;
    color:#fff;
    border-radius: 7px;
}

.tile:hover {
    background: rgba(255, 255, 255, .1);
}

.tile .tile__icon {
    border-radius: 100%;
    background-color: rgba(32, 33, 36, 1);
    height: 60px;
}

.tile .tile__title {
    height: 50px;
}